{% load static %}
<!doctype html>
<html>
  <head>
    <title>Apply Job</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="navbar">
      <h2 class="logo">JOBIFY</h2>
      <div class="nav-links">
        <a href="{% url 'user_home' %}">Home</a>
        <a href="{% url 'help' %}">Help</a>
        <a href="{% url 'logout' %}">Logout</a>
      </div>
    </div>
    <div class="container">
      <div class="card small-card">
        <h2>Apply for {{ job.title }}</h2>

        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          <input type="file" name="resume" required />
          <input
            type="number"
            name="experience"
            placeholder="Experience (years)"
            required
          />

          <button type="submit">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>