{% load static %}
<!doctype html>
<html>

<head>
  <title>Help | Jobify</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
  <div class="navbar">
    <h2 class="logo">JOBIFY</h2>
  </div>
  <div class="container">

    <h2>Help & Support</h2>
    <p>Welcome to Jobify Help Center </p>

    <hr>

    <h3>🔹 For Candidates</h3>
    <ul>
      <li>Search jobs by city</li>
      <li>Apply for jobs easily</li>
      <li>Check applied jobs in your profile</li>
      <li>Get interview notifications from companies</li>
    </ul>

    <h3>🔹 For Companies</h3>
    <ul>
      <li>Post new job opportunities</li>
      <li>View candidate applications</li>
      <li>Approve candidates</li>
      <li>Schedule interviews</li>
      <li>Delete job posts anytime</li>
    </ul>

    <h3>📞 Contact us</h3>
    <p>Email: support@jobify.com</p>
    <p>Name: Palak Bhalodiya</p>
    <p>+91 9016093501</p>
    <br>
    <p>Name: Manali Bhoraniya</p>
    <p>+91 9023050937</p>
    <br>
    <p>Name: Mansvi Chovatiya</p>
    <p>+91 7984823654</p>
    <br>
  </div>

</body>

</html>