body{
    margin:0;
    font-family:Segoe UI, sans-serif;
    background:#eef2f7;
}

/* NAVBAR */
.navbar{
    background:#2563eb;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.navbar a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

.navbar a:hover{
    opacity:.8;
}

.card{
    width: 360px;     /* change this value */
    max-width: 90%;      /* responsive */
    margin: 80px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0,0,0,.1);
}
h2{
    text-align:center;
    margin-bottom:20px;
    color:#2563eb;
}

/* INPUT */
input,select{
    width:100%;
    padding:10px;
    margin-top:12px;
    border:1px solid #ddd;
    border-radius:6px;
}

/* BUTTON */
button{
    width:100%;
    padding:12px;
    margin-top:18px;
    border:none;
    border-radius:6px;
    background:#2563eb;
    color:white;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#1e40af;
}

/* DASHBOARD */
.dashboard a{
    display:block;
    background:white;
    padding:14px;
    margin:12px auto;
    width:60%;
    text-align:center;
    border-radius:8px;
    color:#2563eb;
    text-decoration:none;
    box-shadow:0 2px 10px rgba(0,0,0,.08);
}

.dashboard a:hover{
    background:#2563eb;
    color:white;
}
/* NAVBAR */
.navbar{
    background:#2563eb;
    padding:15px 40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    color:white;
}

.nav-links a{
    color:white;
    margin-left:20px;
    text-decoration:none;
    font-weight:500;
}

.nav-links a:hover{
    opacity:.8;
}

/* TITLE */
.dashboard-title{
    text-align:center;
    margin-top:40px;
    color:#2563eb;
}

/* CARD CONTAINER */
.card-container{
    display:flex;
    justify-content:center;
    gap:30px;
    margin-top:50px;
    flex-wrap:wrap;
}

/* DASHBOARD CARD */
.dash-card{
    background:white;
    width:250px;
    padding:30px 50px;
    border-radius:10px;
    text-align:center;
    text-decoration:none;
    color:#2563eb;
    font-weight:bold;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    transition:.3s;
}

.dash-card h3{
    margin-bottom:10px;
}

.dash-card:hover{
    background:#2563eb;
    color:white;
    transform:translateY(-6px);
}

.small-card{
    width: 400px;      /* reduce width */
    max-width: 90%;
    margin: 60px auto; /* center it */
}

